*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/cafe1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
    
}
h1{
    float: left;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    
}
h2{
    position: relative;
    margin-bottom: 20px;
    padding-top: 60px;
    color: white;
    font-size: 60px;
    
   
}

header{
    background-color: black;
    padding: 20px ;
    overflow: hidden;
   
}
.header a{
    float: right;
    color: rgba(255, 255, 255);
    text-align: center;
    text-decoration: none;
    
    
}


li {
    float: right;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    
    
   }
   ul li:hover{
       background-color:rgba(133, 129, 129, 0.568);
   }
 ul{
    position: relative;
    
 
 }  
  .container{
   
    margin: auto;
    color: white;
    padding: 50px;
    padding-top: 200px;
    line-height: 1.6;
    width: 50%;
     
  }
  
  p{
      font-size: 20px;
      color:rgba(245, 245, 245, 0.8) ;
      padding-top: 100px;
      padding-bottom: 100px;
      text-transform: none;
  }
  
  .button{
    border: none;
    background-color: whitesmoke;
    color: black;
    height: 50px;
    width: 130px;
    border-radius: 24px;
    font-weight: 900;
        
     
  }
  hr{
      border: none;
      background-color: black;
      height:10px;
      width:100px;
      margin: auto;
      
      
  }
  img{
      max-width: 100%;
      height: auto;
  }
   .footer{

    position: fixed;
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  
