*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
        
}
h1{
    float: left;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    
}
header{
    background-color: black;
    padding: 20px ;
    overflow: hidden;
   
}
.header a{
    float: right;
    color: rgba(255, 255, 255);
    text-align: center;
    text-decoration: none;
    
    
}


li {
    float: right;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    
    
   }
   li:hover{
       background-color:rgba(133, 129, 129, 0.568);
   }
 ul{
    position: relative;
    
 
 }  

 .footer{

    position: fixed;
    padding: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
  }